
.routing_page{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background:url(http://www.baltana.com/files/wallpapers-5/Mountain-HD-Desktop-Wallpaper-15218.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 100vh; 
}  
.header{
}

.header ul{list-style: none; display: flex; justify-content: center;}
.header a{text-decoration: none; color: rgb(255, 173, 30);font-size: 24px;  margin: 0 20px;}
h1{width: 100%; text-align: center; font-size: 30px; color: rgb(0, 0, 0); }
.new-task{background: red; max-width: 1024px; margin: 0 auto;padding:20px; margin-bottom: 30px;}
.new-task form{width: 100%; display: flex; flex-wrap: wrap; align-items: center; }
.new-task input{width: 80%;padding: 10px 15px; font-size: 18px;

}
.new-task h2{
  width: 100%;
  margin-top: 0;
  text-align: center;
  color: #fff;
}

.new-task button{width: 15%;background: grey;font-size: 18px; padding: 12px 15px; border: none; color: #fff;  
}

table{
  max-width: 1024px; 
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border: 2px solid #222;
  border-collapse: collapse;
}

table thead tr{font-size: 20px; }
table button{padding: 5px 10px ; background: grey; border: none; color: #fff; font-size: 20px; }
table td{ padding: 10px; text-align: center;}
table td input{width: 100%; font-size: 18px; }
table td .editable{border: 1px solid #000;}