<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <title>React App</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <header class="header">
      <div class="wrapper">
        <ul>
        </ul>
      </div>
    </header>
    <div class="greating routing_page">
      <h1>Hello, It's a to do list</h1>
    </div>
  <div class="todo_list routing_page">
      <div id="root"></div>

      <form action="" class="new-task">
          <h2>Type here your new task</h2>
          <input type="text" placeholder="New task">
          <button>Add</button>
      </form>

      <table border="1">
          <thead>
              <tr>
                  <td>№</td>
                  <td>Text</td>
                  <td>Edit</td>
                  <td>Close</td>
              </tr>
          </thead>
      </table>
    </div>
    
    
    
  </body>
  <script type="text/template" id="table-row">
    <tr>
      <td>{{number}}</td>
      <td><input type="text" disabled value={{text-value}}></td>
      <td><button class="edit" data-condition="edit">Edit</button></td>
      <td><button class="close">Close</button></td>        
    </tr>
  </script>
</html>
